h2 {
    padding: 5px 0 0 7px;
    background: url(../../../images/verh.gif) no-repeat left top;
    font-family: Arial Narrow, sans-serif;
    font-size: 1.2em;
    color: #94b767;
}
.b1 {
    width: 424px;
    background: url(../../../images/mamchits.gif) repeat-y;
}
.b3 {
    background: url(../../../images/niz.gif) no-repeat left bottom;
    margin: 0;
    padding: 0px 5px 15px 5px;
    font-family: Tahoma, sans-serif;
    font-size: 0.8em;
}